body {
	font-size: 11pt;
	color: #00008b;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	background-image: url("bg.png");
}

hr {
	width: 80%;
}

h1, h2 {
	color: #dc143c;
	padding: 5px;
}

h2 {
	font-size: 17px;
}

#tartalom {
	background-color: #f0f8ff;
	margin: 0 auto;
	text-align: left;
	width: 930px;
	padding: 0 5px;
}

.bev {
	font-size: small;
	font-style: italic;
}

#oszlop1, #oszlop2, #oszlop3 {
    float: left;
    padding: 0px;
	width: 33%; 	
}

.kep {
	width: 240px;
	border: none;
	margin-left: 30px;
}

a:link {
	color: #dc143c;
}

#lablec {
    clear: both;  
}